body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    height: 100%;
    position: relative;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: none;
    color: orange;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 3px 3px 3px black;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

h4 {
    margin: 0;
}



.displayInline {
    display: inline;
}

.displayBlock {
    display: block;
    margin: 1rem auto;
}

.divider {
    margin: 0.5rem auto;
}

.difficulty {
    margin-right: 1rem;
    cursor: default;
}

.health {
    color: red;
}

.active {
    text-decoration: underline;
}

.bgDivider {
    background-color: rgba(0,190,255,0.9);
    width: 25vw;
    height: 100%;
}

.bgDivider h1 {
    color: white;
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px black;
    
}

.midBg {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255, 255, 255, 0.9)), url('https://thumbs.dreamstime.com/b/question-mark-seamless-pattern-isolated-white-background-question-mark-seamless-pattern-isolated-white-background-vector-102511631.jpg');
    background-size: cover;
    background-position: center;
    width: 50vw;
}

.midBg h1 {
    margin-bottom: 1rem;
}

#ptsPosition {
    position: absolute;
    left: 50%;
    margin-left: -3rem;
    top: 32rem;
    z-index: 1;
}

.fa-scroll {
    color: orange;
    text-shadow: 3px 3px 3px black;
    margin: 0 1rem;
}

.iconLeft {
    margin-left: -1rem;
}

.fa-trophy {
    color: orange;
    text-shadow: 3px 3px 3px black;
    margin: 0 1rem;
}

.fa-heart {
    transform: rotate(180deg);
}

#guideContent .fa-heart {
    transform: rotate(360deg);
}   

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100vh;
}

.rowTwo {
    display: grid;
    grid-template-columns: auto auto;
}

.rowTwo div {
    margin: 0 auto;
}

.rowTwo h2{
    font-size: 1.4rem;
    color: white;
    text-shadow: 1px 1px 10px black;
    
}

.rowTwo ul {
    list-style-type: none;
}

.previewGuess {
    border: 1px solid gray;
    width: 50%;
    margin: 0 auto;
    background-color: white;
}



.grid-item {
    height: calc(var(--vh, 1vh) * 100);
    height: 40rem;
    
}

.grid-item li {
    text-align: left;
    margin-bottom: 0.5rem;
}


.margin-top {
    margin-top: 1rem;
}

.navLinks {
    margin: 0 auto;
    font-size: 0.8rem;
}

.toGuide {
    margin-right: 10%;
}

/***** SCORES *****/


.playerScores {
    list-style-type: none;
    color: orange;
    font-weight: 600;
}





#labelNum {
    display: block;
    color: orange;
}

#lastResult {
    margin-top: 1rem;
    margin-bottom: 0;
}

#correctNumber {
    margin: 0;
}

#contain {
    text-align: center;
    height: 100vh;
}

#healthDiv {
    width: 60%;
    transform: rotate(180deg);
}


#userGuess {
    height: 2rem;
    font-size: 2rem;
    width: 18%;
    text-align: center;
}

#userGuess::-webkit-outer-spin-button,
#userGuess::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#userGuess:focus {
    outline: none;
    text-align: center;
    border: 1px solid #2288DD;
}

#startButton {
    width: 5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    margin: 1rem auto;
    color: white;
    border-color: #2288DD;
    background-color: #2288DD;
}


#gameInputs {
    display: none;
}

#submitGuess {
    background-color: #11DD55;
    border-color: #11DD55;
    width: 4rem;
}

#resetGame {
    background-color: #FF0055;
    border-color: #FF0055;
    width: 4rem;
}

#points {
    color: orange;
    font-weight: bold;
    margin-bottom: 0;
}

#roundDiv {
    color: red;
    text-shadow: 3px 3px 3px #2288DD;
}

#roundDiv h2 {
    color: black;
}

#playerScore {
    display:none;
}

#cheatActivate {
    display: none;
}

#previousGuess {
    display: block;
}

#previousCorrect {
    display: block;
    margin-bottom: 0.5rem;
}


#title {
    margin-top: 3rem;
    color: rgba(0,190,255,0.9);
    font-size: 3rem;
    text-shadow: 3px 3px 3px black;
}

#guideContent {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 4rem;
}

#guideContent p {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#guideContent span{
    font-weight: bold;
}

#guideContent p {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}


/****** MODAL *******/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 0.5rem;
    border: 1px solid #888;
    width: 70%;
}

.close {
    color: #aaa;
    float:right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#playerName {
    margin: 1rem;
    height: 2rem;
    width: 50%;
    font-size: 2rem;
    text-align: center;
}

#submitName {
    display: block;
    margin: 1rem auto;
    height: 2rem;
    font-size: 1rem;
}

/* RESPONSIVENESS FOR MOBILE */

@media (max-width: 900px) {

    body {
        overflow: auto;
    }
    
    a {
        display: inline-block;
    }

    
    .row{
        height: 100%;
    }

    .row {
        grid-template-columns: auto;
    }

    .rowTwo div {
        margin: 0.5rem auto;
    }

    .bgDivider {
        width: 100%;
        position: relative;
    }

    .midBg {
        width: 100%;
        position: relative;
    }

    .previewGuess {
        width: 60%;
    }

    #ptsPosition {
        top: 74.5rem;
    } 

    #title {
        margin-top: 1rem;
    }

    #guide a {
        display: block;
        margin-top: 2rem;
    }

    
   
}