body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    height: 100vh;
    position: relative;
}

* {
    box-sizing: border-box;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

h4 {
    margin: 0;
}



.displayInline {
    display: inline;
}

.displayBlock {
    display: block;
    margin: 1rem auto;
}

.divider {
    margin: 0.5rem auto;
}

.difficulty {
    margin-right: 1rem;
    cursor: default;
}

.health {
    color: red;
}

.active {
    text-decoration: underline;
}

.bgDivider {
    background-color: rgba(0,190,255,0.9);
    width: 20vw;
    height: 100%;
}

.bgDivider h1 {
    color: white;
    
}

.midBg {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255, 255, 255, 0.9)), url('https://thumbs.dreamstime.com/b/question-mark-seamless-pattern-isolated-white-background-question-mark-seamless-pattern-isolated-white-background-vector-102511631.jpg');
    background-size: cover;
    background-position: center;
    width: 60vw;
}

.midBg h1 {
    margin-bottom: 1rem;
}

.ptsPosition {
    position: absolute;
    left: 50%;
    margin-left: -3rem;
    top: 89%;
    z-index: 2;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100vh;
}

.rowTwo {
    display: grid;
    grid-template-columns: auto auto;
}

.rowTwo ul {
    list-style-type: none;
}

.previewGuess {
    border: 1px solid gray;
    width: 50%;
    margin: 0 auto;
    background-color: white;
}

.previousGuess {
    display: block;
}

.previousCorrect {
    displaY: block;
    margin-bottom: 0.5rem;
}

.grid-item {
    height: 100vh;
}

.grid-item li {
    text-align: left;
    margin-bottom: 0.5rem;
}


.margin-top {
    margin-top: 1rem;
}

/***** SCORES *****/


.playerScores {
    list-style-type: none;
    color: orange;
    font-weight: 600;
}


#title {
    margin-top: 3rem;
    color: rgba(0,190,255,0.9);
    font-size: 3rem;
    text-shadow: 3px 3px 3px grey;
}


#health {
    color: #11DD55;
}
#labelNum {
    display: block;
    color: orange;
}

#lastResult {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

#correctNumber {
    margin: 0;
}

#contain {
    text-align: center;
    height: 100vh;
}

#userGuess {
    height: 2rem;
    font-size: 2rem;
    width: 18%;
    text-align: center;
}

#userGuess::-webkit-outer-spin-button,
#userGuess::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#userGuess:focus {
    outline: none;
    text-align: center;
    border: 1px solid #2288DD;
}

#startButton {
    width: 5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    margin: 1rem auto;
    border-color: #2288DD;
    background-color: #2288DD;
}


#gameInputs {
    display: none;
}

#submitGuess {
    background-color: #11DD55;
    border-color: #11DD55;
    width: 4rem;
}

#resetGame {
    background-color: #FF0055;
    border-color: #FF0055;
    width: 4rem;
}

#points {
    color: orange;
    font-weight: bold;
    margin-bottom: 0;
}

#roundDiv {
    color: red;
}

#roundDiv h2 {
    color: black;
}

#cheatActivate {
    display: none;
}

/****** MODAL *******/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 0.5rem;
    border: 1px solid #888;
    width: 70%;
}

.close {
    color: #aaa;
    float:right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#playerName {
    margin: 1rem;
    height: 2rem;
    width: 50%;
    font-size: 2rem;
    text-align: center;
}

#submitName {
    display: block;
    margin: 1rem auto;
    height: 2rem;
    font-size: 1rem;
}

/* RESPONSIVENESS FOR MOBILE */

@media (max-width: 900px) {
    .row {
        grid-template-columns: auto;
    }

    .rowTwo div {
        margin: 0.5rem auto;
    }

    .bgDivider {
        width: 100%;
        position: sticky;
    }

    .midBg {
        width: 100%;
        position: relative;
    }

    .previewGuess {
        width: 60%;
    }

    .ptsPosition {
        top: 189%;
    } 

    #title {
        margin-top: 1rem;
    }
   
}